<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gemini.service.system.user.UserMapper">

    <insert id="insertMenuIdsByUserId">
        INSERT INTO sys_user_menu VALUES
        <foreach collection="menuIds" item="menuId" separator=",">
            (#{userId}, #{menuId})
        </foreach>
    </insert>
</mapper>
